@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

#content {
  background-color: white;
}

#content-header {
  text-align: center;
  padding: 1px 0 1px;
  font-family: Montserrat;
  font-size: 25px;
  box-shadow: 0 0 8px;
}

#todos-pane {
  width: 50%;
  overflow: auto;
  position: relative;
  padding-left: 460px;
}

#counter {
  width: 50%;
  text-align: center;
  font-size: 16px;
  font-family: Lato; 
}

#todos li {
  list-style-type: none;
  font-size: 16px;
  width: 500px;
  overflow: auto;
  padding-left: 2px;
  font-family: Lato;
  font-size: 16px;
  margin: 0px;
}

#todos li span.done {
  color: rgb(106, 216, 63);
}

#title {
  width: 500px;
  font-size: 16px;
  font-family: Lato; 
  margin: 10px;
  padding: 10px 15px;
  &:focus {
    outline: 0;
  }
}

.donebtn {
  font-size: 16px;
  font-family: Lato; 
  margin-right: 20px;
  border: 1;
  border-style: solid;
  border-color: rgb(75, 197, 63);
  padding-bottom: 10px;
  padding-top: 10px;
  width: 120px;
  background-color: white;
  &:focus {
    outline: 0;
  }
}

.linkbtn {
  color: black;
  font-size: 16px;
  text-decoration: none;
  font-family: Lato; 
  margin-right: 20px;
  border: 1;
  border-style: solid;
  border-color: rgb(75, 197, 63);
  padding: 10px;
  width: 120px;
  background-color: white;
  &:focus {
    outline: 0;
  }
}

.time {
  display: grid;
  color: grey;
  text-align: right;
}

.donetime {
  display: grid;
  color: rgb(106, 216, 63);
  text-align: right;
}

.link{
  width: 100%;
  display: inline-block;
  text-align: center;
  margin-bottom: 20px;
}

a.nav-link {
  text-decoration: none;
  font-family: Lato; 
  font-size: 16px;
}

.input-container {
  text-align: center;
}